# LLM api key. Not required for open source LLMs. Dummy string is required for ChatOpenAI
LLM_API_KEY=without_secret_key

# The base URL for for the self-hosted LLM API endpoint
LLM_BASE_URL=http://127.0.0.1:8080

# The name of the self-hosted LLM. Is used in ChatOpenAI metadata
LLM_MODEL_NAME=Qwen3-0.6B-UD-Q8_K_XL.gguf

# Path to local directory where qdrant vector store and embeddings model will be stored
CACHE_STORAGE_DIR=/home/ubuntu/llmops/.venv

# Postgres settings
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflow
POSTGRES_DB=mlflow

# MinIO settings
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_BUCKET=mlflow
AWS_ACCESS_KEY_ID=aws_key123
AWS_SECRET_ACCESS_KEY=aws_secret_key123
